<!DOCTYPE html>
<html>
    <head>
	<title>Arrivals</title>
	<link href="semantic/semantic.min.css" rel="stylesheet" type="text/css"/>
	<style>
	 .ui.centered.huge.header {
	     font-size: 50px !important;
	 }
	 .plannedArrival {
	     font-size: small;
	 }
	 .realArrival {
	     font-weight: 700;
	 }
	 .ribbon {
	     position: absolute;
	     bottom: 5px;
	     right: 5px;
	 }
	 .stagger-transition {
	     transition: all .5s ease;
	 }
	 .stagger-enter, .stagger-leave {
	     opacity: 0;
	     height: 0;
	 }
	</style>
    </head>
    <body>
	<div id="app">
	    <div class="ui container">
		<div class="ui grid">
		    <div class="one column row">
			<div class="column">
			    <h1 class="ui centered huge header">
				{{header}}
			    </h1>
			    <div class="ui fluid input">
				<input v-model="searchText" name="" type="text" value=""/>
			    </div>
			</div>
		    </div>
		    <div class="column row">
			<div class="column">
			    <div class="ui three column stackable grid">
				<div class="column" v-for="arrival in arrivals | filterBy searchText in 'date' 'flightNumber'
							   'airline' 'from' 'plannedArrival' 'realArrival'"
				     transition="stagger" stagger="100"
				>
				    <div class="ui fluid card">
					<div class="content">
					    <div class="header">
						{{arrival.from}}
						<span class="plannedArrival">{{arrival.plannedArrival}}</span>
					    </div>
					    <div class="description">
						<span class="realArrival">{{arrival.realArrival}}</span><br>
						{{arrival.flightNumber}}<br>
						{{arrival.airline}}
						<span class="ribbon">
						    <i v-show="arrival.landed" 
						       class="large circular inverted green checkmark icon"></i>
						    <i v-show="arrival.confirmed" 
						       class="large circular inverted yellow checkmark icon"></i>
						    <i v-show="arrival.cancelled" 
						       class="large circular inverted red remove icon"></i>
						    <i v-show="!arrival.landed && !arrival.confirmed && !arrival.cancelled" 
						       class="large circular inverted yellow help icon"></i>
						</span>
					    </div>
					</div>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="semantic/semantic.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/app.js"></script>
    </body>
</html>
